<div class="container color-dark">
  <div class="col">
    <h1>
      <p> Contact Us </p>
    </h1>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <h4>LETTERS TO THE EDITOR</h4>
    <p> Submit letters to the editor via email to info@partcipants.com.</p>

    <h4> PARTICIPANTS CONTENT SUBMISSIONS</h4>
    <p> Fast Company rarely accepts unsolicited freelance contributions. However, if you have a person, company, product, or
      any other story idea that you’d like to see in the pages of the magazine, please visit our Help Center. While we do
      not offer formal writers guidelines, please familiarize yourself with the magazine before you pitch a story for us
      to cover. If we’re interested in your idea, we will contact you.
    </p>

    <h4>CONTRIBUTED/OP-ED CONTENT SUBMISSIONS</h4>
    <p> Fast Company accepts limited outside contributions from industry professionals. The process is highly selective; please
      read these guidelines about how to submit ideas or completed articles for consideration before contacting Fast Company
      editors.
    </p>

    <h4> WEBSITE SUPPORT</h4>
    <P> Do you have any questions related to how participants.com works? Please visit our Help Center.</P>


    <h4>SUBSCRIBER SERVICES</h4>
    <p> Need to change your address? Confirm payment? Report a missing issue? Update permissions? For these and other magazine
      subscription questions, please visit our Help Center.
    </p>


  </div>
  <div class="col">
    <h4> BACK ISSUES & PRODUCTS</h4>
    <p>..........................................
    </p>

    <h4>PARTICIPANTS COMPANY EVENTS</h4>

    <p>..........................................
    </p>
    <h4> BUSINESS CONTACTS</h4>

    <p> Advertising information for both print and online can be found here.</p>

    <h4> CONTENT PERMISSION AND SYNDICATION</h4>
    <p>..........................................
    </p>
    <h4> PARTNERING WITH US </h4>

    <p>..........................................
    </p>

    <h3> ADDRESS</h3>
    <p>..........................................
    </p>
  </div>
</div>