<div class="container color-dark">
    <div class="col">
      <h1>
        <p> My Profile</p>
      </h1>
    </div>
  </div>
  <div class="container color-light">
    <div class="col">
        GENERAL DETAILS
        <div class="col">
            Title:  <input class="txt" type="radio">
        </div>
        <div class="col">
            Surname	 : <input class="txt"  type="text">
        </div>
        <div class="col">
            First Name	: <input class="txt"  type="text">
        </div>
        <div class="col">
            Other Name: <input  class="txt" type="text">
        </div>
        <div class="col">
            Your  Gender: <input class="txt" type="text">
        </div>
        <div class="col">
            Date of Birth : <input class="txt" type="datetime">
        </div>
        <div class="col">
            Place of Birth: <input class="txt" type="text">
        </div>
        <div class="col">
            Marital Status: <input class="txt" type="text">
        </div>
        <div class="col">
            Nationality	: <input class="txt"  type="text">
        </div>
        <div class="col">
            Your  Religion: <input class="txt"  type="text">
        </div>
        <div class="col">
          Your Tribe: <input class="txt"  type="text">
        </div>
        <div class="col">
            Fathers Name: <input class="txt"  type="text">
        </div>
        <div class="col">
           Fathers Status: <input class="txt" type="text">
        </div>
      
        <div class="col">
            Phone (Father): <input class="txt" type="text">
        </div>
        <div class="col">
            Mothers Name: <input class="txt" type="text">
        </div>
        <div class="col">
            Mothers Status: <input class="txt" type="text">
        </div>
        <div class="col">
            Phone (Mother): <input class="txt" type="text">
        </div>     		 	 
	
	
    </div>
    <div class="col">
        CONTACT DETAILS
    </div>
    <div class="col">
        OTHER DETAILS
       </div>
       <div class="col">
      
       </div>
  </div>